#noFlex{
    display: block;
    padding-left: 10rem; /*Menu*/
}
#logo{
    display: contents;
}
.logo{
    height: 50px;
}


.listagemGrupos{
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.listagemGrupos h6{
    width: 90%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    
}

#formProdutos{
    display: flex;
    flex-wrap: wrap;
}
#formProdutos div{
    margin: 5px;

}
table{
    width: 100%;
}
thead tr{
   
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    background-color: rgb(140, 140, 140);
    font-weight: bolder;
    

}
thead tr td{
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
tbody tr{
   
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    background-color: rgb(206, 202, 202)

}
tbody tr td{
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.colorir {
    background-color:#81bef7;
}


.linha { cursor:pointer}
.linha:hover { background-color:#81bef7}
.red { color:red; }




#desc{
    width:20%;
}
#cod{
    width:20%;
}
#und{
    width:10%;
}
#gp{
    width:15%;
}

#tp{
    width:15%;
}
#saldo{
    width:15%;
}
#check{
    width: 5%;
}